APP_NAME=go-scaffold
APP_HOST=localhost
APP_PORT=8080
APP_ENV=development
APP_DEBUG=true

# Database configuration (postgres)
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SSL_MODE=disable

REPLICA_DB_DRIVER=postgres
REPLICA_DB_HOST=localhost
REPLICA_DB_PORT=5432
REPLICA_DB_USERNAME=postgres
REPLICA_DB_PASSWORD=postgres
REPLICA_DB_NAME=postgres
REPLICA_DB_SSL_MODE=disable

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_USE_TLS=false

# Cache configuration (redis by default)
CACHE_DRIVER=redis
CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_USERNAME=
CACHE_PASSWORD=
CACHE_DB=0

# SonarQube configuration
SONARQUBE_HOST=localhost
SONARQUBE_PORT=9000
SONARQUBE_JDBC_USER=sonarqube
SONARQUBE_JDBC_PASSWORD=sonarqube
SONARQUBE_DB=sonarqube

SONAR_HOST_URL=http://localhost:9000
SONAR_LOGIN=admin
SONAR_PASSWORD=admin
SONAR_PROJECT_KEY=go-scaffold

# Tracing configuration
TRACING_ENABLED=true
TRACING_AGENT_TYPE=jaeger
TRACING_AGENT_IS_SECURE=false
TRACING_AGENT_HOST=localhost
TRACING_AGENT_PORT=4317
TRACING_SERVICE_NAME=go-scaffold
TRACING_SAMPLER_TYPE=const
TRACING_SAMPLER_PARAM=1

# Jaeger configuration
JAEGER_PORT=6831
JAEGER_UI_PORT=16686